# Ignorar a pasta usada pelo Terraform
terraform/.terraform/

# Ignorar o arquivo de estado
terraform/*.tfstate
terraform/*.tfstate.backup

# Ignorar os logs e os crash files
cterraform/rash.log
*terraform/.crash
