# Ignorar a pasta usada pelo Terraform
terraform/.terraform/

# Ignorar o arquivo de estado
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Ignorar os logs e os crash files
terraform/terraform/rash.log
terraform/*.crash
